<form (ngSubmit)="onLogin()">
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="username" name="username">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <a class="" href="/register">¿Aún no tienes cuenta?</a>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    

    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>

    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }
  </form>
